{% import "bootstrap/wtf.html" as wtf %}
{% extends "admin-pages/base/base_c.html" %}
{% block content %}

<section class="vbox">
    <section class="scrollable padder">
      <section class="panel panel-default">
        <header class="panel-heading">
          {{view_data.page_name}}
            &nbsp;&nbsp;<span style="color:#1ab667;">共发表:{{view_data.c_count}}</span>
            &nbsp;&nbsp;<span style="color:#e25b29;">今日:{{view_data.c_count_d}}</span>
            &nbsp;&nbsp;<span style="color:#eac724;">近7天:{{view_data.c_count_7d}}</span>
            &nbsp;&nbsp;<span style="color:#1d2993;">近30天:{{view_data.c_count_30d}}</span>
            (不包括未通过,回收站)
        </header>
        <div class="row wrapper">
          <div class="col-sm-6">
                <form ACTION method="GET">
                <div class="col-sm-4 hidden-xs">
                    {{form_s.q(class="input-sm form-control input-s-sm inline v-middle")}}
                    {{form_s.submit(class="btn btn-sm btn-default")}}
                </div>
                </form>
          </div>
          <div class="col-sm-6">
               <form action method="GET">
                   {{form.q(value=view_data.state)}}
                 <div class="col-sm-9 m-b-xs">
                    {{form.search_value(class="input-sm form-control", placeholder="搜索...")}}
                  </div>
                 <div class="col-sm-3 m-b-xs">
                    {{form.submit(class="btn btn-sm btn-default")}}
                  </div>
              </form>
          </div>
        </div>
        <div class="table-responsive" >
             {% include "admin-pages/base/flash.html" %}
          <form ACTION="{{url_for('admin.delete_comment')}}" method="POST">
          <table class="table table-striped b-t b-light">
            <thead>
              <tr>
                <th style="width:20px;"><label class="checkbox m-n i-checks">{{ form_del.boolean }}<i></i></label></th>
                <th class="th-sortable" data-toggle="class">用户名
                  <span class="th-sort">
                    <i class="fa fa-sort-down text"></i>
                    <i class="fa fa-sort-up text-active"></i>
                    <i class="fa fa-sort"></i>
                  </span>
                </th>
                <th>内容</th>
                <th>时间</th>
              </tr>
            </thead>

            {% for comment in view_data.comments %}

              <tr>
                <td><label class="checkbox m-n i-checks">{{ form_del.boolean(value=comment._id) }}<i></i></label></td>
                <td>
                    <a href="{{url_for('people.user', id=comment.user_id)}}" target="_blank">{{comment.username}}</a>
                </td>
                <td>
                    {{comment.comment}}
                </td>
                <td value="{{comment.time}}" unix-time>{{comment.time}}</td>
              </tr>
              {% endfor %}
          </table>
        </div>
        <footer class="panel-footer">
          <div class="row">
              <div class="col-sm-3 m-b-xs">
              {{ form_del.csrf_token }}
                  {{form_del.q(value=view_data.state)}}
                  {{form_del.op_type(class="input-sm form-control input-s-sm inline v-middle")}}
                  {{form_del.submit(class="btn btn-sm btn-default")}}
               </div>
            <div class="col-sm-4 text-center">
              <small class="text-muted inline m-t-sm m-b-sm">Noobw评论管理</small>
            </div>
          </div>
            <div class="row"">
                <!-- 分页 -->
                <div class="text-center m-t-lg m-b-lg">
                  <ul class="pagination pagination-md">
                      <li><a href="{{url_for('admin.comments_management', page=view_data.l_page,q=view_data.state)}}" class="active"><i class="fa fa-chevron-left"></i></a></li>
                      {% for p in view_data.l_show_num %}
                          {% if p == '...' %}
                              <li><a href="#">{{p}}</a></li>
                          {% else %}
                              <li><a href="{{url_for('admin.comments_management', page=p,q=view_data.state)}}">{{p}}</a></li>
                          {% endif %}
                      {% endfor %}

                      <li class="active"><a href="#" class="active">{{view_data.page_num}}</a></li>

                      {% for p in view_data.n_show_num %}
                          {% if p == '...' %}
                              <li><a href="#">{{p}}</a></li>
                          {% else %}
                              <li><a href="{{url_for('admin.comments_management', page=p,q=view_data.state)}}">{{p}}</a></li>
                          {% endif %}
                      {% endfor %}

                      <li><a href="{{url_for('admin.comments_management', page=view_data.n_page,q=view_data.state)}}"  class="active"><i class="fa fa-chevron-right"></i></a></li>
                  </ul>
                </div>
                <!-- //分页 -->
          </div>
        </footer>
          </form>
      </section>
    </section>
    </section>

{% endblock %}
