.tab {
    background: #fff;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ebedee;
    margin:0;
    padding-left:0;

}

.tab .current {
    position: relative;
    border-bottom: 2px solid #18B363;

}

.tab li {
    float: left;
    #margin-right: 2px;
    cursor: pointer;
    overflow: hidden;
}
.tab.nav-tag li a {
    padding: 0 8px;
    font-size: 14px;
}
.a-small-w{
    font-size: 13px;
    color:#e8a22b;
}
.a-small-info{
    font-size: 13px;
    color:#1ab667;
}