{% import "bootstrap/wtf.html" as wtf %}
{% extends "admin-pages/base/base_c.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <section class="panel panel-default">
        <header class="panel-heading font-bold">
            {{view_data.page_name}}
            &nbsp; &nbsp;
            <a style="color:#009100;" href="{{url_for('admin.types')}}"><<返回</a>

        </header>
        <div class="panel-body">
            {% include "admin-pages/base/flash.html" %}
            项目:{{view_data.project}}
            类型:{{view_data.subject}}
            {{wtf.quick_form(form)}}
        </div>
      </section>
     </div>
    <div class="col-sm-3"></div>
</div>
{% endblock %}