<!-- 百度代码-->
  <style>
    #share a{width:40px; height:40px; padding:0; margin:6px;}
    #share a.bds_weixin{background:url(http://{{g.imghost}}/sys_default-share_weixin.png) no-repeat;background-size:40px 40px;}
    #share a.bds_qzone{background:url(http://{{g.imghost}}/sys_default-share_qzone.png) no-repeat;background-size:40px 40px;}
     #share a.bds_tsina{background:url(http://{{g.imghost}}/sys_default-share_tsina.png) no-repeat;background-size:40px 40px;}
    #share a.bds_douban{background:url(http://{{g.imghost}}/sys_default-share_douban.png) no-repeat;background-size:40px 40px;}
    #share a.bds_sqq{background:url(http://{{g.imghost}}/sys_default-share_sqq.png) no-repeat;background-size:40px 40px;}
  </style>
 <script>
  window._bd_share_config={
  "common":{
      "bdSnsKey":{},
      "bdText":"",
      "bdMini":"2",
      "bdStyle":"0",
      "bdSize":"24",
      "bdPic" :"sharePhoto",
       "bdDesc" : ""
      },
      "share":{}
  };
  with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
    <!--//百度代码 -->
