
  <!-- Bootstrap -->
  <script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js?version={{g.version}}"></script>
  <!-- App -->
  <script src="{{url_for('static', filename='js/app.js')}}?version={{g.version}}"></script>
  <script src="{{url_for('static', filename='js/app.plugin.js')}}?version={{g.version}}"></script>
  <script src="{{url_for('static', filename='js/noob-ajax.js')}}?version={{g.version}}"></script>
  <script src="{{url_for('static', filename='js/noob-init.js')}}?version={{g.version}}"></script>

