<header class="bg-black-noob header header-md navbar navbar-fixed-top-xs">
      <div class="navbar-header aside dk nav-xs">
        <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
          <i class="icon-list"></i>
        </a>
        <a href="/" class="navbar-brand text-lt">
          <img style="padding-right:40px;padding-left:40px;" src="http://{{g.imghost}}/sys_default-logo.png?noob-v={{g.version}}" title="音乐文艺,科技有趣" alt="菜鸟世界logo">
        </a>
        <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
          <i class="icon-user"></i>
        </a>
      </div>

    {% include 'base/header_shared.html' %}
</header>