  <meta charset="utf-8" />
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta name="keywords" content="菜鸟世界,科技有趣,互联网,音乐文艺,业余爱好,菜鸟自学">
  <meta name="author" content="noobw">
  <meta name="description" content="菜鸟世界网,业余兴趣爱好,互联网科技与音乐,文艺分享平台{{view_data.dest}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <!-- baidu-->
  <meta name="baidu-site-verification" content="FKMDRn43va" />
  <!-- //baidu-->
   <meta property="qc:admins" content="14111676166677276375" />
  <title>{{view_data.title}}</title>
  <link rel="SHORTCUT ICON" href="http://{{g.imghost}}/sys_default-favicon.ico?version={{g.version}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}?version={{g.version}}" type="text/css" />
  <link rel="stylesheet" href="http://apps.bdimg.com/libs/fontawesome/4.4.0/css/font-awesome.min.css?version={{g.version}}" type="text/css" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/simple-line-icons.css')}}?version={{g.version}}" type="text/css" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}?version={{g.version}}" type="text/css" />
   <link rel="stylesheet" href="{{url_for('static', filename='css/noobw.css')}}?version={{g.version}}" type="text/css" />
   <link rel="stylesheet" href="{{url_for('static', filename='css/noobw_mb.css')}}?version={{g.version}}" type="text/css" />
  <!--<link rel="stylesheet" href="{{url_for('static', filename='css/font.css')}}?version={{g.version}}" type="text/css" />-->
  <!--<link rel="stylesheet" href="{{url_for('static', filename='css/animate.css')}}?version={{g.version}}" type="text/css" />-->

  <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js?version={{g.version}}"></script>
    <script src="{{url_for('static', filename='js/ie/respond.min.js?version={{g.version}}')}}"></script>
    <script src="{{url_for('static', filename='js/ie/excanvas.js?version={{g.version}}')}}"></script>
  <![endif]-->
  <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js?version={{g.version}}"></script>
  <!--<script src="{{url_for('static', filename='js/jquery.min.js')}}?version={{g.version}}"></script>-->
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <script>
    var csrftoken = $('meta[name=csrf-token]').attr('content')
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    })
  </script>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?0aac0d0376f71782e5fe3d0ca7b566ba";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>


</head>
