<!-- .aside -->
        <!-- aside class="bg-black aside hidden-print" id="nav" -->
        <!--<aside class="bg-black aside hidden-print nav-xs" id="nav">-->
        <aside class="bg-black aside hidden-print" id="nav">
          <section class="vbox">
            <section class="w-f-md  ">
              <div class=" " data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">
                <!-- nav -->
                <nav class="nav-primary hidden-xs">
                  <ul class="nav" data-ride="collapse">
                    <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
                      管理台
                    </li>
                    <li>
                      <a href="{{url_for('admin.dashboard')}}">
                        <i class="fa fa-bar-chart-o"></i>
                        <span class="font-bold">仪表盘</span>
                      </a>
                    </li>
                    <li>
                      <a href="{{url_for('admin.chart')}}">
                        <i class="fa fa-bar-chart-o"></i>
                        <span class="font-bold">报表</span>
                      </a>
                    </li>
                    <li  class>
                      <a href="#" class="auto">
                        <span class="pull-right text-muted">
                          <i class="fa fa-angle-left text"></i>
                          <i class="fa fa-angle-down text-active"></i>
                        </span>
                        <i class="icon-notebook"></i>
                        <span>文章&评论</span>
                      </a>
                      <ul class="nav dk text-sm">
                        <li>
                          <a href="{{url_for('admin.posts_management')}}">
                            <i class=" icon-notebook"></i>
                            <span class="font-bold">文章</span>
                          </a>
                        </li>
                        <li>
                          <a href="{{url_for('admin.comments_management')}}">
                            <i class=" icon-bubble"></i>
                            <span class="font-bold">评论</span>
                          </a>
                        </li>
                      </ul>
                    </li>

                    <li  class>
                      <a href="#" class="auto">
                        <span class="pull-right text-muted">
                          <i class="fa fa-angle-left text"></i>
                          <i class="fa fa-angle-down text-active"></i>
                        </span>
                        <i class="fa fa-rmb"></i>
                        <span>支付审核</span>
                      </a>
                      <ul class="nav dk text-sm">
                        <li>
                          <a href="{{url_for('pay.pays_management')}}">
                            <i class="fa fa-rmb"></i>
                            <span class="font-bold">支付二维码</span>
                          </a>
                        </li>
                      </ul>
                    </li>


                  {% if current_user.can(64) %}
                    <!-- 管理员-->
                    <li  class>
                      <a href="#" class="auto">
                        <span class="pull-right text-muted">
                          <i class="fa fa-angle-left text"></i>
                          <i class="fa fa-angle-down text-active"></i>
                        </span>
                        <i class=" icon-social-dropbox"></i>
                        <span>多媒体</span>
                      </a>
                      <ul class="nav dk text-sm">
                        <li>
                          <a href="{{url_for('media.image')}}" >
                            <i class=" icon-picture"></i>
                            <span class="font-bold">图片</span>
                          </a>
                        </li>
                      </ul>
                    </li>

                    <li  class>
                      <a href="#" class="auto">
                        <span class="pull-right text-muted">
                          <i class="fa fa-angle-left text"></i>
                          <i class="fa fa-angle-down text-active"></i>
                        </span>
                        <i class="fa fa-filter"></i>
                        <span>审核规则</span>
                      </a>
                      <ul class="nav dk text-sm">
                        <li>
                          <a href="{{url_for('audit.rules')}}" >
                            <i class=" icon-notebook"></i>
                            <span class="font-bold">POST审核</span>
                          </a>
                        </li>
                      </ul>
                    </li>

                    <li  class>
                      <a href="#" class="auto">
                        <span class="pull-right text-muted">
                          <i class="fa fa-angle-left text"></i>
                          <i class="fa fa-angle-down text-active"></i>
                        </span>
                        <i class="  icon-tag"></i>
                        <span>类型</span>
                      </a>
                      <ul class="nav dk text-sm">
                        <li>
                          <a href="{{url_for('admin.types')}}" >
                            <i class=" icon-notebook"></i>
                            <span class="font-bold">项目类型</span>
                          </a>
                        </li>
                      </ul>
                    </li>

                    <li  class>
                      <a href="#" class="auto">
                        <span class="pull-right text-muted">
                          <i class="fa fa-angle-left text"></i>
                          <i class="fa fa-angle-down text-active"></i>
                        </span>
                        <i class=" fa fa-users"></i>
                        <span>用户&权限</span>
                      </a>
                      <ul class="nav dk text-sm">
                        <li>
                          <a href="{{url_for('admin.user_management')}}" >
                            <i class=" fa fa-users"></i>
                            <span class="font-bold">用户管理</span>
                          </a>
                        </li>
                        <li>
                          <a href="{{url_for('admin.role_management')}}" >
                            <i class=" icon-shield"></i>
                            <span class="font-bold">权限管理</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <!-- //管理员-->
                  {% endif %}
                  {% if  current_user.is_role(8) %}
                   <li>
                      <a href="#" class="auto">
                        <span class="pull-right text-muted">
                          <i class="fa fa-angle-left text"></i>
                          <i class="fa fa-angle-down text-active"></i>
                        </span>
                        <i class="icon-pencil icon"></i>
                        <span>系统</span>
                      </a>
                      <ul class="nav dk text-sm">
                        <li >
                          <a href="{{url_for('post.post_add', subject='sys')}}" class="auto">
                            <i class="icon-note"></i>
                            <span>文档</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    {% endif %}
                    <li class="m-b hidden-nav-xs"></li>
                  </ul>
                </nav>
                <!-- / nav -->
              </div>
            </section>

            <footer class="footer hidden-xs no-padder text-center-nav-xs">
              <div class="bg hidden-xs ">
                {% if current_user.is_authenticated() %}
                  <div class="dropdown dropup wrapper-sm clearfix">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <span class="thumb-sm avatar pull-left m-l-xs">
                        <img src="http://{{g.avahost}}/{{g.user_avatar_url.key}}{{g.ava_thu}}" class="dker" alt="用户头像">
                        <i class="on b-black"></i>
                      </span>
                      <span class="hidden-nav-xs clear">
                        <span class="block m-l">
                          <strong class="font-bold text-lt">{{current_user.username}}</strong>
                          <b class="caret"></b>
                        </span>
                        <span class="text-muted text-xs block m-l">在线</span>
                      </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight aside text-left">
                      <li>
                        <a href="{{url_for('people.index')}}"><i class="fa fa-user"></i>&nbsp;我的主页</a>
                      </li>
                      <li>
                        <a href="{{url_for('online.account')}}"><i class="fa fa-gears"></i>&nbsp;设置</a>
                      </li>
                      <li>
                        <a href="#">
                            <i class="fa fa-bell"></i>&nbsp;
                          <span class="badge bg-danger pull-right">0</span>
                          通知
                        </a>
                      </li>
                      <li>
                        <a href="docs.html"><i class="fa fa-question-circle"></i>&nbsp;帮助</a>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <a href="{{url_for('base.sign_out')}}"  >退出</a>
                      </li>
                    </ul>
                  </div>
                {% else %}
                   <nav class="nav-primary hidden-xs">
                    <ul class="nav bg clearfix">
                      <li>
                        <a href="{{url_for('online.login')}}" >
                          <i class="fa fa-sign-in"></i> <span style="color:#696969;font-weight:bold;">登录</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                {% endif %}
                </div>
            </footer>



          </section>
        </aside>