﻿{% extends "osnoob-cms/base/base.html" %}
{% block content %}
<!-- Main -->
<main class="main-container">
    <div class="container">

        <div class="row">
            <div class="full-wh">

                <div class="text-center page-404">

                    <h1 class="bounceIn wow" data-wow-duration="1.5s">Osnoob</h1>
                    <h2><strong>404</strong> Not Found</h2>
                    <h3>We're sorry, there's <strong>nothing</strong> in here :-(</h3>

                    <div>
                        <a href="index.html" class="btn btn-theme">Back to home</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</main>
<!-- /Main -->
{% endblock %}


